body { background: #f62de1; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 23px; display: flex; }
.block-notify-0 { color: #9a4aef; font-size: 20px; margin-bottom: 5px; }
.block-router-1 { color: #fa2798; font-size: 20px; margin-bottom: 5px; }
.block-cluster-2 { color: #5b7743; font-size: 15px; margin-bottom: 5px; }
.block-user-3 { color: #ecaace; font-size: 15px; margin-bottom: 5px; }
.block-validator-4 { color: #8d665; font-size: 19px; margin-bottom: 5px; }